<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    
    <h1>My Astro Site</h1>
    <h1>About me</h1>
    <h2>... and my new Astro site!</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae 
      voluptas asperiores eveniet aliquid provident eaque recusandae, veritatis 
      autem optio? Dolorum assumenda sint sit architecto fugit recusandae fuga, 
      commodi libero neque.
    </p>
  </body>
</html>